# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

# Authentication data for Trello API
TRELLO_KEY=yourtrellokey-length32characters
TRELLO_TOKEN=yourtrelloapitoken-length64characters000000000000000000000000000