{% extends "layout.html" %}
{% block title %} [to_do || !to_do] app {% endblock %}

{% block content %}
<style type="text/css">
  .jumbotron{
    background-image: url('https://i.ibb.co/JdznB2j/thug-shakespeare.jpg');
    background-size: cover;
    color: #f8fae7;
    font-weight: bold;
  }

  .bigTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 350;
    line-height: 1.2;
    text-shadow: 3px 3px #080808;
  }

  .subTitle{
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 1;
      text-shadow: 3px 3px #080808;
  }

  .separator{
    border: 1.5px;
    border-style:solid;
  }
</style>

<body style="background-color:#434446;">
</body>

  <div class="jumbotron">
    <h1 class="bigTitle"><b>[to_do||!to_do]</b></h1> 
    <p style="margin-left: 30em; color: #333333;"> Version: {{ version }} </p>
    <p class="subTitle"> &nbsp; ...that is the question...</p>
  </div>


  <!-- Display a banner message for the user each time an operation is completed -->
  {% if op_message %}
    <div>
      <p style="color:orange"> {{ op_message }} </p>
    </div>
  {% endif %}


  <!-- Display the list itself -->
  <div class="row">
    <div class="col-md-12">
      {% if num_open_items > 0 %}
      <h2 style="color:#e0e0e0">Drat! Thou'st {{ num_open_items }} items yet to complete:</h2><br>
      {% else %}
      <h2 style="color:#e0e0e0">Verily! The list is bare!</h2><br>
      {% endif %}
      <ul class="list-group mb-4" style="margin-left: 2em">
        <!-- Use a for loop to process all the items -->
        {% for item in todo_items %}
          <p style="color:#e0e0e0">
            <b>{{ item['title'] }} &nbsp; | &nbsp; </b>    
            {% if item['status'] == 'To Do' %}
              <b style="color:#ec6161">{{ item['status'] }}</b> <b> &nbsp; | &nbsp; </b> 
              <a href="{{ url_for('update_status', id = item['id'], new_status = 'Doing') }}">Start Task</a> <b> &nbsp; | &nbsp; </b>
            {% elif item['status'] == 'Doing' %}
              <b style="color:#f3e566">{{ item['status'] }}</b> <b> &nbsp; | &nbsp; </b>
              <a href="{{ url_for('update_status', id = item['id'], new_status = 'Done') }}">Complete Task</a> <b> &nbsp; | &nbsp; </b>
            {% elif item['status'] == 'Done' %}
              <b style="color:#65ec61">{{ item['status'] }}</b> <b>&nbsp; | &nbsp; </b>
            {% endif %}
            <a href="{{ url_for('clear_item', id = item['id']) }}">Clear Item</a>
          </p>
        {% endfor %}
      </ul>
    </div>
  </div><br>


  <!-- Form which will send a POST request to add items into the list -->
  <div><hr class="separator">
    <form method="POST">
      <label style="color:#e0e0e0">Add a new task:
        <input type="text" name="itemTitle">
      </label>
      <button>Add</button>
    </form>
  </div>

  
  <!-- Try out a refresh link to practice redirects -->
  <div><hr class="separator"><br>
    <p>
    <b><a href="{{ url_for('index') }}">Refresh List</a></b>
    </p> 

    <!-- Provide a clear link to delete all items -->
    <p>
    <b><a href="{{ url_for('clear_items') }}">Clear List</a></b>
    </p>
  </div>


{% endblock %}